# Dependencies
node_modules/
*/node_modules/
*/*/node_modules/
*/*/*/node_modules/
package-lock.json
*/package-lock.json
*/*/package-lock.json
*/*/*/package-lock.json

# Builds & caches
.expo/
build/
dist/
.gradle/
.idea/
.cache/
tmp/
*.log
*.env.local
*.jar
*.aar
*.so
*.apk
*.aab
*.zip
*.tar.gz
*.tgz

# OS
.DS_Store
Thumbs.db
